
<div class="partidos">
	@{
		for (int i = 0; i < ViewBag.ListaPartidosApostados.Count; i++)
		{
			<ul>
				<li><img src="@ViewBag.ListaPaises[(ViewBag.ListaPartidosApostados[i].idRival1)-1].Image" alt="image" /></li>
				@{
					if (ViewBag.ListaApuestas[i].Winner == 1)
					{
						<img src="/img/verde.png" alt="image" />
						<img src="/img/rojo.jpg" alt="image" />
					}
					else if (ViewBag.ListaApuestas[i].Winner == 2)
					{
						<img src="/img/rojo.jpg" alt="image" />
						<img src="/img/verde.png" alt="image" />
					}else{
						<img src="/img/naranja.jpg" alt="image" />
					}
				}
				<li><img src="@ViewBag.ListaPaises[(ViewBag.ListaPartidosApostados[i].idRival2)-1].Image" alt="image" /></li>
			</ul>
		}
		for (int i = 0; i < ViewBag.ListaPartidosSinApostar.Count; i++)
		{
			<ul>
				<li><img src="@ViewBag.ListaPaises[(ViewBag.ListaPartidosSinApostar[i].idRival1)-1].Image" alt="image" /></li>
				<li><a href='@Url.Action("Elegir", new{idPartido = ViewBag.ListaPartidosSinApostar[i].id, idUsuario = ViewBag.idUsuario})' type="button" class="btn btn-primary">Elegir</a></li>
				<li><img src="@ViewBag.ListaPaises[(ViewBag.ListaPartidosSinApostar[i].idRival2)-1].Image" alt="image" /></li>
			</ul>
		}
	}
</div>
